
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bf-darkblue: #2c3e50;
        --bf-lightblue: #3a546d;
        --bf-green: #1abc9c;
        --bf-white: white;
        --bf-black: black;
    }

    .navbar-toggler-filter {
        filter: contrast(0);
    }

    .navbar-toggler-focus:focus {
        box-shadow: none;
    }

/* #endregion Common */


/* #region Debug */

    .debug header {
        height: 50px;
    }

/* #endregion Debug */


/* #region Star with lines */

    .star-lines-white {
        color: var(--bf-white);
    }

    .star-lines-white hr {
        width: 50px;
        opacity: 1;
        border: 2px solid var(--bf-white);
    }

    .star-lines-dark {
        color: var(--bf-darkblue);
    }

    .star-lines-dark hr {
        width: 50px;
        opacity: 1;
        border: 2px solid var(--bf-darkblue);
    }

/* #endregion Star with lines */


/* #region Button */

    .btn_bg {
        background-color: var(--bf-green);
    }

/* #endregion Button */


/* #region Header */

    header {
        background-color: var(--bf-darkblue);
        color: var(--bf-white);
    }

/* #endregion Header */


/* #region Start */

    .start {
        background-color: var(--bf-green);
        color: var(--bf-white);
    }

    .start img {
        width: 250px;
    }

/* #endregion Start */


/* #region Portfolio */

    .portfolio img {
        width: 100%;
        border-radius: 20px;
    }

/* #endregion Portfolio */


/* #region About */

    .about {
        background-color: var(--bf-green);
        color: var(--bf-white);
    }

/* #endregion About */


/* #region Footer */

    footer {
        color: var(--bf-white);
    }

    .location {
        background-color: var(--bf-lightblue);
    }

    .location .icon {
        width: 40px;
        aspect-ratio: 1/1;
        border: 1px solid var(--bf-white);
        border-radius: 50%;
    }

    .copyright {
        background-color: var(--bf-darkblue);
    }

/* #endregion Footer */


@media screen and (min-width: 576px) {
    
}


@media screen and (min-width: 992px) {
    
}
