
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bf-darkblue: #2c3e50;
        --bf-lightblue: #3a546d;
        --bf-green: #1abc9c;
        --bf-white: white;
        --bf-black: black;
    }

    hr {
        width: 50px;
        opacity: 1;
    }

/* #endregion Common */


/* #region Debug */

    .debug header {
        height: 50px;
    }

    .debug .contact, .debug .location, .debug .copyright {
        height: 200px;
    }

/* #endregion Debug */


/* #region Header */

    header {
        background-color: var(--bf-darkblue);
        color: var(--bf-white);
    }

/* #endregion Header */


/* #region Start */

    .start {
        background-color: var(--bf-green);
        color: var(--bf-white);
        text-transform: uppercase;
    }

    .start img {
        width: 250px;
    }

    .start hr {
        border: 2px solid var(--bf-white);
    }

/* #endregion Start */


/* #region Portfolio */

    .portfolio img {
        width: 100%;
        border-radius: 20px;
    }

    .portfolio hr {
        border: 2px solid var(--bf-black);
    }

/* #endregion Portfolio */


/* #region About */

    .about {
        background-color: var(--bf-green);
        color: var(--bf-white);
    }

    .about hr {
        border: 2px solid var(--bf-white);
    }

/* #endregion About */


/* #region Footer */

    .location {
        background-color: var(--bf-lightblue);
    }

    .copyright {
        background-color: var(--bf-darkblue);
    }

/* #endregion Footer */
